# Copy this file to .env.local
# The contract is already deployed on Stellar Testnet — use these values as-is

NEXT_PUBLIC_ESCROW_CONTRACT_ID=CBM2YLPJU7LITS6MCELS654W6VFO4VJ35WT4273UWVR5VWA6SXISTRMM
NEXT_PUBLIC_NATIVE_TOKEN_CONTRACT=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
